:root {
  --color-black: #212529;
  --color-yellow: #ffd333;
  --color-green: #47ad24;
  --color-red: #e52e2e;
  --color-violet: #828599;
  --color-lite-red: #ed464d;
  --color-gray: #ced4da;
  --color-white: #ffff;
}

.green {
  color: var(--color-green);
  font-size: 14px;
  font-family: Roboto !important;
}
.red {
  color: var(--color-red);
  font-size: 14px;
  font-family: Roboto !important;
}
.quill {
  background-color: var(--color-white);
}
